*{
    /*box-sizing: border-box;*/
    /*direction: rtl;*/
}
table, td, th{
   /*text-align: right;*/
}
.sidebar{
    float: right;
}
.navbar .logo-box{position:relative;width:160px;height:60px;float:right;display:table}
@font-face {
    font-family: myFont;
    src: url(../font/IRANSans.ttf);
}
.center{
    margin:0 auto;
    float:none!important
}

body{
    font-family: myFont;
    background-color: rgb(204,204,204);
}